[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/pj/Desktop/double.png]
row=3
col=1

[/home/pj/Desktop/dev_done.png]
row=7
col=1

[/home/pj/Desktop/blocked2.png]
row=5
col=1

[/home/pj/Desktop/menu_err.png]
row=8
col=0

[/home/pj/Desktop/blocked.png]
row=6
col=1

[/home/pj/Desktop/out.jpeg]
row=9
col=0

[/home/pj/Desktop/payload.png]
row=4
col=1

[/home/pj/Desktop/error.png]
row=6
col=0

[/home/pj/Desktop/cors.png]
row=3
col=0

[/home/pj/Desktop/hello.jpg]
row=7
col=0

[/home/pj/Desktop/cors2.png]
row=4
col=0

[/home/pj/Desktop/status.png]
row=5
col=0

[/home/pj/Desktop/qty_max.png]
row=1
col=1

[/home/pj/Desktop/roles.png]
row=2
col=1

[/home/pj/Desktop/http-toolkit-ca-certificate.crt]
row=0
col=1

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/pj]
row=1
col=0

